<div class="col-md-12" *ngIf="policy" [class.text-success]="policy.permission" [class.text-warning]="!policy.permission" [routerLink]="['/manage/policy', policy.name]">
  <div class="row">
    <h5 class="col-md-1">
      <i class="fa fa-fw"
         [class.fa-eye]="policy.operation=='READ'"
         [class.fa-save]="policy.operation=='INSERT' || policy.operation=='MODIFY'"
         [class.fa-trash]="policy.operation=='DELETE'"
         [class.fa-object-group]="policy.operation=='MANAGE'"
         title="{{policy.permission ? 'ALLOW': 'DENY'}} {{policy.operation}}"></i>
      <i class="fa fa-fw fa-trash" *ngIf="policy.operation=='MODIFY'"></i>
      {{policy.name}}
    </h5>
    <div class="text-muted col-md-10">{{policy.query.split("\n")[0].substr(1)}}</div>
    <div class="col-md-1">
      <div class="badge badge-default pull-right" title="Priority">{{policy.priority}}</div>
    </div>
  </div>
</div>
