<hr/>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-sm left-buffer pull-right"
            [class.btn-primary]="showQuery"
            [class.btn-default]="!showQuery"
            (click)="showQuery=!showQuery">
      <i class="fa fa-fw fa-save"></i>
      {{ showQuery ? "Hide": "Show"}} Allowed Data Query
    </button>
  </div>
  <div class="top-buffer"
       [class.col-md-12]="!showQuery"
       [class.col-md-6]="showQuery">
    <h5>Allowed Results</h5>
    <table class="table table-bordered table-striped  table-sm">
      <thead>
      <tr>
        <th *ngFor="let v of querySolution.variableNames">?{{v}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let qs of querySolution.solutions">
        <td *ngFor="let v of querySolution.variableNames">{{qs[v]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 top-buffer"
       *ngIf="showQuery">
    <h5>Allowed data query</h5>
    <codemirror [config]="displayCfg" [(ngModel)]="querySolution.query" class="form-control"></codemirror>
  </div>
</div>
