<nav class="navbar navbar-toggleable-md navbar-fixed-top navbar-light bg-faded">
  <ul class="nav navbar-nav">
    <li class='nav-item'>
      <a class='nav-link' routerLink="/dashboard" routerLinkActive="active">LDA home</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink="/query" routerLinkActive="active">Query</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink="/modify" routerLinkActive="active">Modify</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' routerLink="/manage" routerLinkActive="active">Manage</a>
    </li>
  </ul>
</nav>
<div class="container-fluid top-buffer">
  <div class="row align-items-center">
    <div class="col-md-10 order-md-1 offset-md-1 text-center text-md-left pr-md-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
