/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~codemirror/lib/codemirror.css";


.top-buffer {
  margin-top: 10px;
}

.left-buffer {
  margin-left:10px;
}

.right-buffer {
  margin-right:10px;
}

.CodeMirror {
  height: 235px;
}

.btn {
  cursor: pointer;
}


.clickable {
  cursor: pointer;
}

