<div class="row top-buffer left-buffer right-buffer">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-info pull-right left-buffer" (click)="context=!context">
          <i class="fa fa-fw fa-users"></i>
          Context
        </button>

      </div>
      <div class="card-block">
        <div class="row">
          <div [class.col-md-6]="context" [class.col-md-12]="!context">
            <label class="col-form-label">Query</label>
            <codemirror [config]="displayCfg" [(ngModel)]="query" class="form-control"></codemirror>
          </div>

          <div class="col-md-6" *ngIf="context">
            <label class="col-form-label">Intent</label>
            <codemirror [config]="{mode: 'application/ld+json'}" [(ngModel)]="intent" class="form-control"></codemirror>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-8 col-md-4 top-buffer">
            <button class="btn btn-primary pull-right left-buffer" (click)="insert()">
              <i class="fa fa-fw fa-save"></i>
              Insert
            </button>
            <button class="btn btn-primary pull-right left-buffer" (click)="remove()">
              <i class="fa fa-fw fa-trash"></i>
              Remove
            </button>

          </div>
        </div>
        <div class="row top-buffer" *ngIf="querySolution">
          <div class="col-md-12">
            <query-solution [querySolution]="querySolution"></query-solution>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
