<div class="row align-items-center">
  <div class="col-md-9 order-md-1 text-center text-md-left pr-md-5">
    <h1 class="mb-3 bd-text-purple-bright">Linked Data Authorization (LDA) platform</h1>
    <p class="lead">
      This platform is a part of my PhD thesis. It provides Linked Data authorization using SPARQL based policy
      language.
    </p>
    <p class="lead mb-4">
      For security reasons, the public access allows only execution of read queries (<i>Query</i> from the many above),
      preview of the results of the modify (Insert/Delete) operations (<i>Modify</i> from the many above),
      and the management module is available without the <i>Save</i> options.
    </p>

    <div class="lead mb-4">
      The Trig format representation of the guarded data is shown bellow.
    </div>
    <pre>{{data}}</pre>
    <p class="text-muted mb-0">
      Currently v0.0.1-alpha
    </p>
  </div>
</div>
